DJANGO_SECRET_KEY=...
DJANGO_HASHID_SALT=...
DB_ENCRYPTION_KEY=...
DJANGO_DEBUG=True
SECURE_SSL_REDIRECT=False
SFDX_CLIENT_CALLBACK_URL=http://localhost:8080/accounts/salesforce/login/callback/
DOCKER_SFDX_HUB_KEY=-----BEGIN RSA PRIVATE KEY-----\n[some key here]\n-----END RSA PRIVATE KEY-----
SFDX_CLIENT_ID=...
SFDX_CLIENT_SECRET=...
GITHUB_HOOK_SECRET=...
GITHUB_CLIENT_ID=...
GITHUB_CLIENT_SECRET=...
GITHUB_APP_ID=...
DOCKER_GITHUB_APP_KEY=...
