#!/bin/bash
# This hook is sourced after this virtualenv is activated.

# DB settings
export POSTGRES_DB=metashare

# General settings
export DJANGO_SETTINGS_MODULE=config.settings.local
export DJANGO_SECRET_KEY='CHANGEME!!!'
export DJANGO_HASHID_SALT='something long and random'
export DJANGO_ALLOWED_HOSTS=localhost
export DJANGO_DEBUG=True

# Security! Better to use DNS for this task, but you can use redirect
export SECURE_SSL_REDIRECT=False

# Generate using cryptography.fernet.Fernet.generate_key()
export DB_ENCRYPTION_KEY=...

# Application Settings
export BUCKETEER_AWS_ACCESS_KEY_ID=...
export BUCKETEER_AWS_SECRET_ACCESS_KEY=...
export BUCKETEER_BUCKET_NAME=...
