DJANGO_SECRET_KEY=...
DJANGO_HASHID_SALT=...
DB_ENCRYPTION_KEY=...
DJANGO_DEBUG=True
SECURE_SSL_REDIRECT=False
SF_CALLBACK_URL=http://localhost:8080/accounts/salesforce-production/login/callback/
SF_CLIENT_KEY=-----BEGIN RSA PRIVATE KEY-----\n[some key here]\n-----END RSA PRIVATE KEY-----
SF_CLIENT_ID=...
SF_CLIENT_SECRET=...
