// Collaborators
// =============

// Add/Edit Collaborator Modal
// ---------------------------
.collaborator-username {
  margin-left: $spacing-x-small;

  .collaborator-button.is-selected & {
    color: $color-border-selection;
  }
}

.collaborator-button {
  &.is-selected {
    border-color: $color-border-selection;
  }

  &:not(.is-selected) {
    &:hover {
      border: 1px solid;
    }
  }

  // don't show a border on tables with checkboxes
  .table-row-targets & {
    &:hover {
      border-color: transparent;
    }
  }
}

// Assigned Collaborator Cards
// ---------------------------
.collaborator-card {
  h2 {
    font-size: $font-size-3;
  }
}
