.has-nested-card {
  // remove extra space on org action dropdown
  --sds-c-card-body-spacing-inline-end: 0;
  > .slds-card__header {
    margin-bottom: 0;
  }

  > .slds-card__body {
    margin-top: 0;
  }
}

.nested-card {
  .slds-card__header {
    padding-left: 0;
    padding-right: 0;
  }
}

// override min-width and force header to wrap on nested card headers
.wrap-inner-truncate {
  .slds-card__header {
    // hold space for absolutely positioned dropdown toggle
    --sds-c-card-header-spacing-inline-end: #{$spacing-x-large};
    align-items: baseline;
    flex-wrap: wrap;

    // Specifically target OrgActions in card header
    .slds-no-flex {
      align-items: baseline;
      display: flex;
      flex: 0 1 auto;
      flex-wrap: wrap; // allow button group to wrap when space is limited
      row-gap: $spacing-x-small;
    }
  }

  .slds-has-flexi-truncate {
    margin-right: $spacing-x-small;
    // allow org title to display in truncated state before org actions wrap
    min-width: 35%; // arbitrary width
  }

  .slds-media {
    margin-bottom: $spacing-x-small;
  }
}

.metecho-card-more {
  position: absolute;
  right: $spacing-small;
  top: $spacing-small;
}
