// Path Overrides
// ==============

// redefine path-specific color variables
$color-text-path-current: $color-text-default;
$color-background-path-active: $brand-background-primary;
$color-background-path-active-hover: $color-border-path-current-hover;
$color-background-path-complete: $color-background-path-incomplete-hover;
$color-background-path-complete-hover: $color-gray-6;

.slds-path__nav {
  .slds-is-active {
    background: $color-background-path-active;

    &:before,
    &:after {
      background: $color-background-path-active;
    }

    &:first-child {
      &:before,
      &:after {
        background: $color-background-path-active;
      }

      &:hover {
        &:before,
        &:after {
          background: $color-background-path-active-hover;
        }
      }
    }

    .slds-path__link {
      color: $color-text-path-current;
    }
  }

  // All but the last completed items are gray
  .slds-is-complete {
    background: $color-background-path-complete;

    &:before,
    &:after {
      background: $color-background-path-complete;
    }

    &:hover {
      background: $color-background-path-complete-hover;

      &:before,
      &:after {
        background: $color-background-path-complete-hover;
      }
    }

    .slds-path__link {
      color: $color-text-default;
    }

    // Keep the final "Merged" path item green
    &:last-child {
      background: $color-background-success-dark;

      &:before,
      &:after {
        background: $color-background-success-dark;
      }

      .slds-path__link {
        color: white;
      }
    }
  }
}
