.ms-repo-item {
  // increase default height/weight of icon in repo visualpicker
  .slds-media__figure {
    > div {
      height: 4rem;
      width: 4rem;

      .slds-avatar_large {
        height: 100%;
        width: 100%;
        font-size: $font-size-10;
        font-weight: $font-weight-bold;
      }

      abbr {
        text-shadow: none;
      }
    }
  }

  .ms-repo-description {
    min-height: $font-size-3 * $line-height-text;
  }
}

.ms-repo-image-wrapper {
  height: 4rem;
  width: 4rem;
}
