// Task Tables
// ===========

// add a tiny top margin to create visual appearance of centered text
.project-task-status {
  > div {
    align-items: center;
    display: flex;
  }
}

// add a tiny top margin to create visual appearance of centered text
.project-task-status-text {
  margin-top: $spacing-xxx-small;
}
