// Team Member
// ===========

// Add/Edit Team Members Modal
// ---------------------------
.team-member-grid {
  > div {
    align-items: center;
    display: flex;
  }
}

.team-member-username {
  margin-left: $spacing-x-small;

  .team-member-button.is-selected & {
    color: $color-text-default;
  }
}

.team-member-button.is-selected {
  background-color: $color-background-row-active;
}

.team-member-button:not(.is-selected) {
  &:hover {
    border: 1px solid;
  }
}

// Assigned Team Member Cards
// --------------------------
.team-member-card {
  h2 {
    font-size: $font-size-3;
  }
}
