// Tour
// ====

// Overriding inline styles to add changes to hover and focus states

/* stylelint-disable declaration-no-important */
.react-joyride__tooltip {
  [data-action='primary'] {
    border: 1px solid $color-brand-dark !important;

    &:hover,
    &:focus {
      background-color: $color-text-link-hover !important;
      border: 1px solid $color-text-link-hover !important;
      box-shadow: 0 0 3px $color-brand-dark !important;
      outline: none !important;
    }
  }

  [data-action='back'] {
    &:hover,
    &:focus {
      background-color: $brand-light !important;
      border-color: $button-color-border-primary !important;
      box-shadow: 0 0 3px $button-color-border-primary !important;
      color: $color-brand-dark !important;
      outline: none !important;
    }
  }
}
/* stylelint-enable declaration-no-important */

// Override background image
.slds-popover_walkthrough .slds-popover__header {
  background-image: url('~img/popover-header.png');
}

.popover-wrapper {
  position: absolute;
  top: -($spacing-small);

  .epic-progress & {
    right: -($spacing-small);
    top: -($spacing-medium);
  }

  .logo-popover & {
    top: unset;
  }

  .metecho-breadcrumb & {
    top: -($var-spacing-x-small);
  }

  .next-steps & {
    left: 15.5em;
  }

  .project-placeholder & {
    top: $spacing-medium;
  }

  .right-edge & {
    right: 0;
    top: -($var-spacing-x-small);
  }

  .vertical-right & {
    right: -($spacing-x-small);
    top: -($spacing-medium);
  }

  .submit-btn & {
    right: -($spacing-xxx-small);
    top: -($spacing-large);
  }

  .task-create-btn & {
    top: -($var-spacing-large);
  }

  .page-title & {
    left: $spacing-large;
    top: $var-spacing-medium;

    @media (min-width: $mq-medium) {
      left: unset;
    }
  }
}

.metecho-breadcrumb li {
  max-width: 100%;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

.popover-button {
  background: $color-background-light;
  border-radius: 100%;
  border: 1px solid $palette-violet-90;
  box-shadow: 0 0 2px $palette-violet-65;
  color: $palette-violet-65;
  transform: scale(1); // needed to prevent subpixel rounding in Safari
  z-index: $z-index-default;

  .tour-alert & {
    fill: currentColor;
  }

  // Hover/Focus styles should only apply if on interactive element
  &[aria-haspopup]:hover,
  &[aria-haspopup]:focus {
    box-shadow: var(--sds-c-button-shadow-focus, 0 0 2px $color-brand-dark),
      0 0 2px $color-text-link-focus;
  }
}

// Keep text from being truncated in table and page header
.slds-popover {
  font-size: $font-size-3;
  font-weight: normal;
  text-align: left;
  white-space: initial;
}

.inline-container {
  display: inline-block;
}
