.slds-modal .slds-card {
  border-width: $spacing-xxx-small;
  border-style: solid;
  border-color: $card-color-border;
  border-radius: $border-radius-medium;
  box-shadow: $card-shadow;
  text-align: center;
}
