<h1>Expiry Alert from MetaShare</h1>

<p>
<strong>Your development scratch org for {{ repo_name }} {{ project_name }} on
  {{ task_name }} is set to expire</strong> in 3 days on {{ expiry_date }}. You
have uncommitted changes on your org that will be deleted. If you do not want
to lose these changes, please log into MetaShare as {{ user_name }}, navigate
to the task, and click the Capture Task Changes button. We appreciate your
contribution to the Salesforce community. Thanks!
</p>

<p>
<a href="{{ metashare_login_link }}">Log Into MetShare Now &raquo;</a>
</p>
