// Buttons
// =======

// Mimic SLDS :disabled styles
.btn-disabled,
.btn-disabled:hover {
  cursor: default;
  background-color: $color-background-alt;
  color: $color-text-button-default-disabled;
  border-color: $color-border;
}
