.slds-table_header-hidden {
  thead {
    clip: rect(0 0 0 0);
    height: 1px;
    overflow: hidden;
    position: absolute;
    margin: -1px;
    text-transform: none;
    white-space: nowrap;
    width: 1px;
  }
}

// Override React LDS table header action cell padding
//   to help line up checkboxes.
.align-checkboxes {
  .slds-th__action {
    padding-left: 0;
    padding-right: 0;
  }
}
