// Form Elements
// =============

.metecho-textarea {
  min-height: $size-xx-small;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr auto;
}

[data-form='task-capture'] {
  display: grid;
  height: 100%;

  .success-highlight {
    background-color: $color-background-highlight;
  }

  .slds-accordion__section {
    --slds-c-accordion-section-spacing-block-start: #{$spacing-x-small};
    --slds-c-accordion-section-spacing-block-end: #{$spacing-x-small};
    --slds-c-accordion-section-spacing-inline-start: #{$spacing-medium};
    --slds-c-accordion-section-spacing-inline-end: #{$spacing-medium};
  }

  .accordion-no-padding {
    .slds-is-open {
      .slds-accordion__section {
        --slds-c-accordion-section-spacing-inline-start: #{$spacing-large};
        --slds-c-accordion-section-spacing-inline-end: 0;
      }
    }
  }

  &.has-checkboxes {
    .slds-accordion__summary {
      @include icon-checkbox-layout;
    }
  }

  .grow-inner-item {
    .slds-accordion__summary-action > .slds-truncate {
      flex-grow: 1;
    }
  }
}

.metecho-nested-checkboxes {
  // line up with above label; add grid + (faux checkbox + label margin)
  padding-left: $square-icon-x-small-boundary + $spacing-large;
}

[data-form='create-epic-branch'] {
  .slds-listbox__status {
    padding: $spacing-xx-small $spacing-x-small;

    > span {
      margin: 0;
      padding: 0;
    }
  }
}
