// Form Elements
// =============

.vertical-separator {
  border-right: 1px solid $color-border-separator-alt;
  height: 100%;
  width: 1px;

  .hide-separator + & {
    display: none;
  }

  .show-separator + & {
    display: inline;
  }
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr 25%;
  flex-grow: 1;
  width: calc(100% - 2.25rem);
}

.slds-is-open {
  > .slds-accordion__content {
    .slds-checkbox {
      margin-left: $size-xxx-small;
    }
  }
}

[data-form='task-capture'] {
  display: grid;
  height: 100%;

  // using slds class since we can't access inner checkbox + label markup
  .slds-checkbox__label {
    &:hover {
      .slds-form-element__label {
        color: $brand-text-link-active;
      }

      .slds-checkbox_faux,
      .slds-checkbox--faux {
        border-color: $brand-text-link-active;
      }
    }
  }

  [type='checkbox'] {
    &:focus {
      + .slds-checkbox__label {
        .slds-form-element__label {
          color: $brand-text-link-active;
        }
      }
    }
  }
}

.selectall-header {
  margin-left: 18px; // 18px chevron icon placeholder
}

.changes-col {
  margin-left: 3px; // magic number to help line up changes column
}
