// Form Elements
// =============

.vertical-separator {
  border-right: 1px solid $color-border-separator-alt;
  height: 100%;
  width: 1px;

  .hide-separator + & {
    display: none;
  }

  .show-separator + & {
    display: inline;
  }
}
