// Form Elements
// =============

.metecho-textarea {
  min-height: $size-xx-small;
}

.form-grid {
  display: grid;
  grid-template-columns: 1fr auto;
}

[data-form='task-capture'] {
  display: grid;
  height: 100%;

  .success-highlight {
    background-color: $color-background-highlight;
  }

  .slds-accordion__section {
    padding: $spacing-x-small $spacing-medium;
  }

  &.has-checkboxes {
    .slds-accordion__summary {
      @include icon-checkbox-layout;
    }
  }

  .slds-is-open {
    > .slds-accordion__summary {
      margin-bottom: $spacing-x-small;
    }
  }

  .grow-inner-item {
    .slds-accordion__summary-action > .slds-truncate {
      flex-grow: 1;
    }
  }

  .accordion-no-padding {
    > .slds-accordion__list-item {
      > .slds-is-open {
        padding: 0;

        > .slds-accordion__summary {
          padding-top: $spacing-x-small;
          padding-left: $spacing-medium;
          padding-right: $spacing-medium;
        }
      }
    }
  }
}

.metecho-nested-checkboxes {
  // line up with above label; add grid + (faux checkbox + label margin)
  padding-left: $square-icon-x-small-boundary + $spacing-large;
}

[data-form='create-epic-branch'] {
  .slds-listbox__status {
    padding: $spacing-xx-small $spacing-x-small;

    > span {
      margin: 0;
      padding: 0;
    }
  }
}

[data-form='search-issues'] {
  gap: $spacing-x-small;
  grid-template-rows: min-content auto;

  .slds-form-element {
    grid-column: 1;
    grid-row: 1 / span 2;
  }

  .issues-search-button {
    grid-column: 2;
  }
}
