// Form Elements
// =============

.vertical-separator {
  border-right: 1px solid $color-border-separator-alt;
  height: 100%;
  width: 1px;

  .hide-separator + & {
    display: none;
  }

  .show-separator + & {
    display: inline;
  }
}

// temporary fix
.form-grid {
  display: grid;
  grid-template-columns: minmax($size-small, 1fr) auto;
}

.slds-is-open {
  > .slds-accordion__content {
    .slds-checkbox {
      margin-left: $size-xxx-small;
    }
  }
}
